.banner{
  background: #53520a url("../images/soccerballs/brazuca_banner.jpg") no-repeat center center;
  background-size: cover;
  padding: 28rem 1rem 1rem;
  text-align: center;
  color: white;
}

.banner h1{
  color: #fff;
}