@charset "UTF-8";
/* Responsive Setup */


html {
 	font: normal 100%/1.5 Gotham, "Helvetica Neue", Helvetica, Arial, sans serif; /* 16px/24px */
 	color: #424242;
 }
 
 /* Typo */
 ::selection {
 	background-color: #00E9F4; /* changes the highlight colour when the user selects */
 	color: #FFFFFF; /* changes the font color */
 }
 
 a,
 a:link{
 	color: #0D12B3;
 	text-decoration: none;
 	border-bottom: 0.1rem solid #195774; 
 	transition: all 200ms linear; /* makes it fade between colour*/
 }
 
 a:visited {
 	color: #fff;
 }
 
 a:hover,
 a:focus, 
 a:active {
 	color: #827B7B;
 }
 

 h1, h2, h3, h4, h5, h6,
 p, ul, ol, dl,
 blockquote, table, hr {
   margin: 0 0 0.5rem;
 }
 
 .yotta {
   font-size: 4.7684rem;
   line-height: 1.2583;
 }
 
 .zetta {
   font-size: 3.8147rem;
   line-height: 1.1796;
 }
 
 h1, .exa {
   font-family: 'Audiowide', cursive;
   font-size: 3.0518rem;
   line-height: 1.4746;
 }
 
 h2, .peta {
   font-family: 'Audiowide', cursive;
   font-size: 2.4414rem;
   line-height: 1.2288;
 }
 
 h3, .tera {
   font-family: 'Audiowide', cursive;
   font-size: 1.9531rem;
   line-height: 1.5360;
   text-align: center;
 }
 
 h4, .giga {
   font-family: 'Audiowide', cursive;
   font-size: 1.5625rem;
   line-height: 1.9200;
 }
 
 h5, .mega {
   font-family: 'Pathway Gothic One', sans serif;
   font-size: 1.2500rem;
   line-height: 1.2000;
 }
 
 h6, .kilo {
   font-family: 'Pathway Gothic One', sans serif;
   font-size: 1.0000rem;
   line-height: 1.5000;
 }
 
 small, .milli {
   font-family: 'Wire One', sans serif;
   font-size: 0.8000rem;
   line-height: 1.8750;
 }
 
 .micro {
   font-family: 'Wire One', sans serif;
   font-size: 0.6400rem;
   line-height: 2.3438;
 }
 
 /* END of all sizes */
 
 /* BULLETS customized */
 
 ul{
 	list-style-type: none; /* Get rid of the bullets*/
 	position: relative;
 }
 
 li{
 	font-family: 'Pathway Gothic One', sans serif;
 	position: relative;
 }
 
 ul li:before {
 	content: "◊ "; /* opt shift 9=small, opt 8= bigger, or put a special character from the compter*/
 	color: #424242;
 	position: absolute; /* To change the position of bullets*/ 	
	text-align: right;
	left:  -1em;
 }
 
 /* Typo ENDS */
nav {
	background-image: url(../images/soccerballs/bluebar.jpg);
	background-repeat: no-repeat;
  padding: 1rem 4rem 1rem;
}
  
nav ul {
  display: box;
  list-style: none;
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
  padding: 0;
}

nav ul li {
  box-flex: 1;
}

nav ul li a {
  color: #000;
  display: block;
  line-height: 20px;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover {
  background: #D5E798;
}

.logo {
	width: 100%;
	display: block;
	position: relative;
}

.search {
	float: left;
	margin: .5rem;
}

@media only screen and (min-width: 25em){
	.logo{
		width: 15rem;
		margin-left: -10rem;
		float: left;
	}
	
		nav ul li a {
		font-family: 'Audiowide', cursive;
	    font-size: 1rem;
}
}



@media only screen and (min-width: 35em){
	
	nav ul li a {
	    font-size: 1.3rem;
}

.current{
  background-color: red;
}

.banner{
  background: #53520a url("../images/soccerballs/brazuca_banner.jpg") no-repeat center center;
  background-size: cover;
  padding: 28rem 1rem 1rem;
  text-align: center;
  color: white;
  margin-top: 1rem;
}

.banner h1{
  color: #fff;
}
	
}

@media only screen and (min-width: 40em){
	
	nav ul li a {
  		font-size: 1.8rem;
	
}
}

@media only screen and (min-width: 50em){
	
	
}

@media only screen and (min-width: 75em){


}

