@charset "UTF-8";
/* Responsive Setup */



nav {
  background: #fff;
}
  
nav h4 {
  display: none;
}
nav ul {
  border-left: 1px solid #005788;
  border-right: 1px solid #0099ee;
  display: box;
  list-style: none;
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
  padding: 0;
}
nav ul li {
  box-flex: 1;
}
nav ul li a {
  border-left: 1px solid #0099ee;
  border-right: 1px solid #005788;
  color: #000;
  display: block;
  line-height: 20px;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
}
nav ul li a:hover {
  background: #057265;
}
@media only screen and (max-width: 600px) {
  nav h4 {
    border-bottom: 1px solid #0099ee;
    color: #fff;
    display: block;
    line-height: 20px;
    margin: 0 auto;
    padding: 12px 0;
    text-align: center;
    width: 96%;
  }
  nav h1:hover + ul,
  nav h1 + ul:hover {
    max-height: 300px;
  }
  nav ul {
    display: block;
    max-height: 0;
    transition: max-height 200ms;
  }
  nav ul li a {
    padding-left: 12px;
    text-align: left;
  }
}

@media only screen and (min-width: 25em){
	.logo{
		float:left;
		width: 20rem;
		margin: 1rem 30rem 0 3rem;
	}
}

@media only screen and (min-width: 35em){
	.logo{
	float:left;
	width: 25rem;
	margin: 1rem 50rem 0 5rem;
	}
	
}

@media only screen and (min-width: 40em){
	.logo{
	float:left;
	width: 30rem;
	margin: 1rem 30rem 0 6rem;
	}
	
}

@media only screen and (min-width: 50em){
	.logo{
	float:left;
	width: 40rem;
	margin: 1rem 30rem 0 15rem;
	}
	
}

@media only screen and (min-width: 75em){
	.logo{
	float:left;
	width: 15rem;
	margin: 4rem 0rem 0 4rem;
	}

}

