@charset "UTF-8";
/* CSS Document */
.list-group{
	list-style-type: none;
}

.list-group-item:before {
	content: ""; /*dissapear bullets*/
}

.list-group-item {
	display: block; /*display under each other*/
}

.list-group-item-inline {
	display: inline-block; /*display besides each other*/
}

