# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Lorena Franco}
- {Laura Garcia}
- {Hassan Yavuz}
- {Sara Baar}
- {Maxine Zazulak}
- {Sonal}

## Tasks

1. {Use the KeyBoard to navegate}
2. {Navigate using the VoiceOver}
3. {Search and buy a product using Voice or the keyboard}

---

## Individual Results & Observations

### {Lorena Franco}

- {She completed the task as expected that the logo should have a link with the home page}
- {She had troubles to complete the sale of the product because I have two different link for buy the product}


### {Laura Garcia}

- {She clicked on the soccer balls in home page and she had trouble to get the link (Link the soccer balls to the sale view or something like that)}
- {She asked the question why is the logo no link to the home page?}

### {Hassan Yavuz}

- {he want me to work more on the media queries}
- {place better the items.}

### {Sara Baar}

- {She completed the task and ask me to fix the logo because has 70 images on it}


### {Maxine Zazulak}

everithing if fine just miss some pictures to have a description

### {Sonal}

images missing a description

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- take of the "buy it now" from the whole pages and leave the icons "Shop Now"

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {everythig was fine but some people ask me about the two different icons on the sale page}
_{people click aways in the logo to come back to the home page}