---
layout: default
title: Home
meta: A web site about Soccer Balls
showbanner: yes
---

<main role="main">

	<h1>Soccer Ball Promotion</h1>
	<p> You can get the best soccer ball for a good price</p>

	<div class="grid">

		<div class="unit unit-s-1 gutter unit-m-1-2 unit-l-2-3">
			{% include promo-small.html title="Promo 1" desc="Super-duper sale!" image="soccerballs/brazucabox.jpg" %}
		</div>

		<div class="unit unit-s-1 gutter unit-m-1-2 unit-l-2-3">
			{% include promo-small.html title="Promo 2" desc="Amazing deal!" image="soccerballs/brazucasmall.jpg" %}
		</div>

		<div class="unit unit-s-1 gutter unit-m-1-2 unit-l-2-3">
			{% include promo-small.html title="Promo 3" desc="Fantastico!" image="puma/pumasoccerball.jpg" %}

		</div>
		
		<div class="unit unit-s-1 gutter unit-m-1-2 unit-l-2-3">
			{% include promo-small.html title="All or Nothing" desc="Fantastico!" image="soccerballs/brazucapromotion.jpg" %}
		</div>
	</div>
</main>