# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {Sonal}
- {Laura Garcia}
- {Lorena Franco}

## Tasks

1. {Check the whole navigation bar}
2. {Check the search field}
3. {check the social icons}

---

## Individual Results & Observations

### {Sonal}

- {Change (Shop by Brand) FOR (Shopa by Name) on the navigation bar}
- {She ask me for have a better layout on thankyou page}

### {Laura Garcia}

- {She clicked on the soccer balls in home page and she had trouble to get the link (Link the soccer balls to the sale view or something like that)}
- {She asked the question why is the logo no link to the home page?}

### {Lorena Franco}

- {She want me to work more on the media queries}
- {place better the items.}
- {fix the phone view on Shop by Brand the items are to big}
---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {take of the "buy it now" from the whole pages and leave the icons "Shop Now"}

### Serious, Causes Frustration, May Hinder Completion

- {}

### Minor, Annoying, Won’t Hinder Completion

- {everythig was fine but some people ask me about the two different icons on the sale page}
_{people click aways in the logo to come back to the home page}
