---
layout: default
title: shopbyname
meta: All the soccer ball you want
---

<div class="grid"> 
	<div class="unit unit-s-1 unitl-1">
		<h1>Shop By Name</h1>
	</div>
	<div class="unit unit-s-1 unit-m-1-2 unitl-1-3">
		<p>All Adidas, Puma and Nike soccerballs</p>
	</div>
</div>

<ul>
	{% for shopbyname in site.pages %}
		{% if shopbyname.category == 'adidas' %}
			<li>
				<a href="{{shopbyname.url}}">
					<img src="{{site.baseurl}}/images/{{adidas.image}}" alt="">
					{{shopbyname.name}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<ul>
	{% for shopbyname in site.pages %}
		{% if shopbyname.category == 'puma' %}
			<li>
				<a href="{{shopbyname.url}}">
					<img src="{{site.baseurl}}/images/{{puma.image}}" alt="">
					{{shopbyname.name}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<ul>
	{% for shopbyname in site.pages %}
		{% if shopbyname.category == 'nike' %}
			<li>
				<a href="{{shopbyname.url}}">
					<img src="{{site.baseurl}}/images/{{nike.image}}" alt="">
					{{shopbyname.name}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>