---
layout: default
title: shopbybrand
meta: All the paper toy monsters that you can create
---

<div class="grid"> 
	<div class="unit unit-s-1 unit-m-1-2 unitl-1-3">
		<h1>Shop By Brand</h1>
	</div>
	<div class="unit unit-s-1 unit-m-1-2 unitl-1-3">
		<p>Choose a Brand</p>
	</div>
</div>

<ul>
	{% for shopbybrand in site.pages %}
		{% if shopbybrand.category == 'adidas' %}
			<li>
				<a href="{{shopbybrand.url}}">
					<img src="{{site.baseurl}}/images/{{adidas.image}}" alt="">
					{{shopbybrand.name}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<ul>
	{% for shopbybrand in site.pages %}
		{% if shopbybrand.category == 'puma' %}
			<li>
				<a href="{{shopbybrand.url}}">
					<img src="{{site.baseurl}}/images/{{soccerballs.image}}" alt="">
					{{shopbybrand.name}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>

<ul>
	{% for shopbybrand in site.pages %}
		{% if shopbybrand.category == 'nike' %}
			<li>
				<a href="{{shopbybrand.url}}">
					<img src="{{site.baseurl}}/images/{{soccerballs.image}}" alt="">
					{{shopbybrand.name}}
				</a>
			</li>
		{% endif %}
	{% endfor %}
</ul>