<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Dinos 'R' Us</title>
		<meta name="handheldfriendly" content="true">
		<meta name="mobileoptimized" content="240">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Wire+One|Audiowide|Pathway+Gothic+One' rel='stylesheet' type='text/css'>
		<link href="{{site.baseurl}}/css/.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
	</head>
</body>
</html>