<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{page.title}} · Soccer Balls</title>
<link href='http://fonts.googleapis.com/css?family=Wire+One|Audiowide|Pathway+Gothic+One' rel='stylesheet' type='text/css'>
<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/product-details.css" rel="stylesheet">
</head>

<body>
	<header>
		<input class="search" type=search results=5 name=s>
		<img src="{{site.baseurl}}/images/logo/logo.svg" class="logo" alt="soccer-balls.com logo">
		<nav>
			<ul class="mega">
				<li><a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a> 
				<li><a class="{% if page.url == '/shopbybrand/' %}current{% endif %}"href="{{site.baseurl}}/shopbybrand/">Shop By Brand</a></li>
				<li><a class="{% if page.url == '/shopbysize/' %}current{% endif %}" href="{{site.baseurl}}/shopbysize/">Shop By Size</a></li>
				<li><a class="{% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/">About Us</a></li>
			</ul>
		</nav>
	</header>

		{% if page.showbanner %}
			<div class="banner"
	  			<h1>{{page.bannertext}}</h1>
			</div>
		{% endif %}
		
{{content}}

	<footer>
		<h4>Follow US</h4>
		<div class="wrapper">
		  <div class="icons"> 
			<span class="socialmedia" id="github"></span>
			<span class="socialmedia" id="linkedin"> </span>
			<span class="socialmedia" id="twitter"></span>
			<span class="socialmedia" id="instagram"></span>
			<span class="socialmedia" id="codepen"></span>
		  </div>
		</div>
		<div class="copyright mega">
			<p>Copyright © 2014 Soccer Balls. All rights reserved.</p>
	</footer>

</body>
</html>